@import "mixins";

//Nav

body.lock{
  overflow: hidden;
}
.header{
  width: 100%;
}
.header-body{
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}
.header-burger{
  display: none;
}

.header-logo{
  @include md{
    z-index: 20;
  }
}
.header-burger{
  @include md{
    display: flex;
    position: relative;
    width: 30px;
    height: 20px;
    order: 3;
    z-index: 20;
    cursor: pointer;
    &::before,
    &::after{
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all .3s ease 0s;

    }
    &::before{
      top: 0;
    }
    &::after{
      bottom: 0;
    }
    span{
      position: absolute;
      left: 0;
      background-color: #000;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all .3s ease 0s;
    }
  }
}
@include md{
  .header-burger.active{
    &::before{
      transform: rotate(45deg);
      top: 8px;
    }
    &::after{
      transform: rotate(-45deg);
      width: 100%;
      bottom: 9px;
    }
    span{
      transform: scale(0);
    }
  }
}
.header-menu{
  @include md{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6c8b4;
    overflow: auto;
    z-index: 10;
    transition: all .3s ease 0s;
  }
}
@include md{
  .header-menu.active{
    top: 0;
  }
}
.header-list, .header-list-img{
    display: flex;
}
.header-list{
  li{
    margin-left: 65px;
    &:hover{
      opacity: .6;
    }
    a{
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #555248;
      text-decoration: none;
    }
  }
}
.header-list{
  @include md{
    flex-direction: column;
    padding-top: 120px;
    font-size: 25px;
    li{
      margin-left: 5vw;
      margin-bottom: 20px;
    }
  }
}
.header-list-img{
  li{
    margin-left: 20px;
    position: relative;
    &:hover{
      opacity: .6;
    }
    span{
      border-radius: 50%;
      width: 13px;
      height: 13px;
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: #e6c8b4;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
    }
  }
}

//Content

.header-content{
  display: flex;
  justify-content: space-between;
}
.header-desc{
  padding-top: 200px;
  width: 50vw;
  @include md{
    padding-top: 0;
  }
}
.header-title{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  span{
    width: 50px;
    height: 1px;
    background-color: #8B8371;
    margin-right: 15px;
  }
  h1{
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    color: #1B1A17;
  }
  @include md{
    h1{
      font-size: 30px;
    }
    span{
      width: 25px;
    }
  }
  @include sm{
    margin-bottom: 0;
    h1{
      font-size: 20px;
    }
    span{
      display: none;
    }
  }
}
.header-subtitle{
  h2{
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #1B1A17;
    margin-left: 65px;
    margin-bottom: 30px;
  }
  @include md{
    h2{
      font-size: 25px;
      margin-left: 40px;
    }
  }
  @include sm{
    h2{
      font-size: 16px;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
.header-text{
  p{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: rgba(27, 26, 23, 0.82);
    max-width: 250px;
    margin-left: 65px;
    margin-bottom: 60px;
  }
  @include md{
    p{
      font-size: 12px;
      margin-left: 40px;
    }
  }
  @include sm{
    p{
      margin-left: 0;
      margin-bottom: 40px;
      max-width: 200px;
    }
  }
}
.header-btn{
  padding: 26px 38px;
  background-color: #444240;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 65px;
  @include md{
    padding: 25px 5px;
    margin-left: 40px;
  }
  @include sm{
    padding: 10px 5px;
    margin-left: 0;
  }
}
.header-image-wrapper{
  position: relative;
  padding-right: 40px;
  .header-ellipse{
    position: absolute;
    left: -150px;
    top: -10px;
    width: 400px;
    height: 90vh;
    z-index: -1;
    background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    @include md{
      height: 50vh;
      width: 200px;
      left: -120px;
    }
    @include sm{
      height: 30vh;
      width: 80px;
      left: -35px;
      top: 30px;

    }
  }
  @include sm{
    padding-right: 0;
    padding-top: 30px;
  }
}
.header-image{
  img{
    height: 90vh;
  }
  @include md{
    img{
      height: 50vh;
    }
  }
  @include sm{
    img{
      height: 30vh;
    }
  }
}
.header-image-price{
  position: absolute;
  display: flex;
  align-items: center;
  top: 70px;
  left: -30px;
  p{
    font-family: "Prata", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
  }
  span{
    width: 50px;
    height: 1px;
    background-color: #8B8371;
    margin-left: 15px;
  }
  @include md{
    top: 60px;
    left: -70px;
    span{
      width: 25px;
    }
  }
  @include sm{
    display: none;
  }
}
.header-image-size{
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 110px;
  left: 300px;
  p{
    font-family: "Prata", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1B1A17;
  }
  span{
    width: 50px;
    height: 1px;
    background-color: #8B8371;
    margin-right: 15px;
  }
  @include md{
    bottom: 65px;
    left: 165px;
    span{
      width: 20px;
    }
  }
  @include sm{
    display: none;
  }
}


